@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@using ServerReservation.Areas.Identity.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model ServerReservation.Models.Request

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = await UserManager.GetUserAsync(User);
}

<h2>Request - Create</h2>
<hr />


<div class="d-flex">
    <form asp-action="Create" asp-route-id="">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <!-- #region Account information -->
        <div class="card bg-light mb-3">
            @if (SignInManager.IsSignedIn(User))
            {
                <div class="card-header">
                    <div class="row">
                        <h6 class="float-left col">
                            The following account information will be recorded when you submit this form:
                        </h6>
                        <div class="float-right">
                            Not you?<br /><a asp-area="Identity" asp-page="/Account/Logout">Logout</a>
                            <!-- Attention: -->
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <dl class="row">
                        @if (!string.IsNullOrEmpty(@user.FullName))
                        {
                            <dt class="col-5">
                                <h6>Name:</h6>
                            </dt>
                            <dd class="col-7">
                                <div class=""> @user.FullName</div>
                            </dd>
                        }
                        @if (!string.IsNullOrEmpty(@user.EmployeeId))
                        {
                            <dt class="col-5">
                                <h6>Employee Id:</h6>
                            </dt>
                            <dd class="col-7">
                                <div class=""> @user.EmployeeId</div>
                            </dd>
                        }
                        @if (!string.IsNullOrEmpty(@user.Email))
                        {
                            <dt class="col-5">
                                <h6>Email:</h6>
                            </dt>
                            <dd class="col-7">
                                <div class=""> @user.Email</div>
                            </dd>
                        }
                        @if (!string.IsNullOrEmpty(@user.PhoneNumber))
                        {
                            <dt class="col-5">
                                <h6>Phone Number:</h6>
                            </dt>
                            <dd class="col-7">
                                <div class="">@user.PhoneNumber</div>
                            </dd>
                        }
                    </dl>
                    <div class="form-group">
                        <label asp-for="RequestedByUserId" class="control-label sr-only"></label>
                        <input asp-for="RequestedByUserId" class="form-control" value="@user.Id" type="hidden" />
                        <span asp-validation-for="RequestedByUserId" class="text-danger"></span>
                    </div>
                </div>

            }
            else
            {
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="RequestedByEmployeeName" class="control-label"></label>
                        <input asp-for="RequestedByEmployeeName" class="form-control" required />
                        <span asp-validation-for="RequestedByEmployeeName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RequestedByEmployeeId" class="control-label"></label>
                        <input asp-for="RequestedByEmployeeId" class="form-control" required />
                        <span asp-validation-for="RequestedByEmployeeId" class="text-danger"></span>
                    </div>

                </div>
            }
        </div>
        <!-- #endregion Account information-->
        <!-- #region Request Details -->
        <div class="card bg-light mb-3">
            <div class="card-body">
                <a asp-controller="Server" asp-action="EditRequest" asp-route-id="@ViewBag.SelectedServerId" class="pull-right">Edit</a>
                <div class="form-group">
                    <label asp-for="ServerId" class="control-label"></label>
                    <select asp-for="ServerId" class="form-control not-allowed" asp-items="ViewBag.ServerId" readonly></select>


                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label asp-for="StartDate" class="control-label"></label>
                        <input asp-for="StartDate" type="text" value="" id="StartDate" class="form-control" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                    <div class="form-group col">
                        <label asp-for="EndDate" class="control-label"></label>
                        <input asp-for="EndDate" type="text" value="" id="EndDate" class="form-control" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="form-group">
                    <label asp-for="RequestJustification" class="control-label"></label>
                    <textarea asp-for="RequestJustification" class="form-control"></textarea>
                    <span asp-validation-for="RequestJustification" class="text-danger"></span>
                </div>
            </div>
        </div>
        <!-- #endregion Request Details-->

        <div class="form-group">
            <a asp-controller="Server" asp-action="Select">Back to List</a>
            <input type="submit" value="Create" class="btn btn-primary pull-right" />
        </div>

    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
