@model IEnumerable<ServerReservation.Models.Server>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <div class="col-4 pl-0">
        <h2>Server Selection</h2>
        <h6>Select an existing server or create new.</h6>
    </div>
    <a asp-action="CreateRequest" class="pull-right">Create New</a>
</p>
<table id="myTable" class="table table-striped table-bordered table-hover nowrap">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hostname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RAM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServerType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hostname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CPU)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HDString)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RAMString)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServerType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    <a asp-controller="Request" asp-action="Create" asp-route-id="@item.Id">Select</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-controller="Request" asp-action="Index">Back to List</a>
</div>